# NLF Fanatasy NN

## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MaxAbsScaler
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import keras_tuner as kt


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/ADPxFinal.csv")
df = application_df

In [18]:
df['Production21']

0       97.250653
1       84.160000
2      100.229167
3       36.853556
4       39.350000
          ...
509      4.000000
510      3.333333
511      0.000000
512     -3.000000
513      0.000000
Name: Production21, Length: 514, dtype: float64

In [19]:
df

,Unnamed: 0,Player,Pos,2021 Tm,Age,2021 Games,2021 GS,2021 Tgt,2021 Rec,2021 RushingYds,...,TotYdsScrm20,Production20,Usage21,Touchdowns21,TotYdsScrm21,Production21,Average Total Usage,Average Total Yards,Average Total Production,AVG
0,227,Jonathan Taylor,RB,IND,22.0,17,17,51.0,40.0,1811.0,...,1468.0,81.918819,22.529412,20.0,2171.0,97.250653,13.532026,1213.000000,59.723157,1.0
1,228,Austin Ekeler,RB,LAC,26.0,16,16,94.0,70.0,911.0,...,933.0,51.712707,18.750000,20.0,1558.0,84.160000,17.283333,1347.000000,79.979791,3.0
2,0,Cooper Kupp,WR,LAR,28.0,17,17,191.0,145.0,18.0,...,1007.0,70.138889,19.764706,16.0,1965.0,100.229167,16.138235,1379.000000,84.274732,3.5
3,240,Derrick Henry,RB,TEN,27.0,8,8,20.0,18.0,937.0,...,2141.0,84.420538,29.875000,10.0,1091.0,36.853556,25.745833,1659.333333,67.397175,3.8
4,269,Christian McCaffrey,RB,CAR,25.0,7,7,41.0,37.0,442.0,...,374.0,14.615385,20.000000,2.0,785.0,39.350000,24.270833,1183.666667,47.962044,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,509,Ethan Wolf,TE,NOR,26.0,2,1,2.0,2.0,0.0,...,0.0,0.000000,2.000000,0.0,8.0,4.000000,0.666667,2.666667,1.333333,NaN
510,510,Nick Boyle,TE,BAL,28.0,5,3,2.0,1.0,0.0,...,113.0,33.387097,0.600000,0.0,2.0,3.333333,2.889815,145.333333,35.519423,NaN
511,511,Darrell Daniels,TE,ARI,27.0,15,4,4.0,1.0,0.0,...,92.0,58.736842,0.333333,0.0,0.0,0.000000,0.760101,32.000000,23.245614,NaN
512,512,Daniel Helm,TE,LVR,26.0,9,1,2.0,1.0,0.0,...,0.0,0.000000,0.333333,0.0,-1.0,-3.000000,0.111111,-0.333333,-1.000000,NaN
513,513,Deon Yelder,TE,TAM,26.0,5,0,1.0,1.0,0.0,...,36.0,28.000000,0.400000,0.0,0.0,0.000000,0.821164,28.666667,30.761905,NaN

In [20]:
# Labels Columnns to be droped for training 
col = [0,1,2,3]
# Drop Target Column from our data set for unsupervised learning
# Assign target values to variable for use in visualizations
df.dropna()
labels = df['Production21']
# Remove unnamed column, Player, Pos and 2021 Team
df.drop(df.columns[col],axis=1,inplace=True)
df = df.dropna()

### Binning

In [21]:
# # Look at APPLICATION_TYPE value counts for binning
# app_type = df['APPLICATION_TYPE'].value_counts()
# # Choose a cutoff value and create a list of application types to be replaced
# # use the variable name `application_types_to_replace`
# application_types_to_replace = list(app_type[app_type<500].index)
# # Replace in dataframe
# for app in application_types_to_replace:
#     df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

In [22]:
# # Look at CLASSIFICATION value counts for binning
# countsbinning = df['CLASSIFICATION'].value_counts()

# # You may find it helpful to look at CLASSIFICATION value counts >1
# countsclassification = countsbinning[countsbinning>1]

# # Choose a cutoff value and create a list of classifications to be replaced
# # use the variable name `classifications_to_replace`
# classifications_to_replace = list(countsbinning[countsbinning<100].index)

# # Replace in dataframe
# for cls in classifications_to_replace:
#     df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
# df['CLASSIFICATION'].value_counts()

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df,dtype=float)
df.head()

,Age,2021 Games,2021 GS,2021 Tgt,2021 Rec,2021 RushingYds,2021 RushingTD,2021 RushingAtt,2021 ReceivingYds,2021 ReceivingTD,...,TotYdsScrm20,Production20,Usage21,Touchdowns21,TotYdsScrm21,Production21,Average Total Usage,Average Total Yards,Average Total Production,AVG
0,22.0,17,17,51.0,40.0,1811.0,18.0,332.0,360.0,2.0,...,1468.0,81.918819,22.529412,20.0,2171.0,97.250653,13.532026,1213.000000,59.723157,1.0
1,26.0,16,16,94.0,70.0,911.0,12.0,206.0,647.0,8.0,...,933.0,51.712707,18.750000,20.0,1558.0,84.160000,17.283333,1347.000000,79.979791,3.0
2,28.0,17,17,191.0,145.0,18.0,0.0,4.0,1947.0,16.0,...,1007.0,70.138889,19.764706,16.0,1965.0,100.229167,16.138235,1379.000000,84.274732,3.5
3,27.0,8,8,20.0,18.0,937.0,10.0,219.0,154.0,0.0,...,2141.0,84.420538,29.875000,10.0,1091.0,36.853556,25.745833,1659.333333,67.397175,3.8
4,25.0,7,7,41.0,37.0,442.0,1.0,99.0,343.0,1.0,...,374.0,14.615385,20.000000,2.0,785.0,39.350000,24.270833,1183.666667,47.962044,4.0

In [24]:
# Split our preprocessed data into our features and target arrays
# Target
y = df['Production21'].values
# Features
X = df.drop('Production21', axis=1).values

In [25]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=14,
        step=2), activation=activation, input_dim=len(X_train_scaled[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=14,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [28]:
# Import the kerastuner library
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    project_name="keras_tuner",
    overwrite=True,
    max_epochs=50,
    hyperband_iterations=2)

In [29]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled, y_train, epochs = 100, validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 00m 03s]
val_accuracy: 0.0

Best val_accuracy So Far: 0.0
Total elapsed time: 00h 03m 48s
INFO:tensorflow:Oracle triggered exit

In [18]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 3,
 'num_layers': 2,
 'units_0': 9,
 'units_1': 11,
 'units_2': 11,
 'units_3': 7,
 'units_4': 5,
 'units_5': 1,
 'tuner/epochs': 17,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 1,
 'tuner/round': 0}

In [19]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5576 - accuracy: 0.7341 - 498ms/epoch - 2ms/step
Loss: 0.5575608611106873, Accuracy: 0.7341107726097107

In [20]:
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 150

 dense_1 (Dense)             (None, 9)                 36

 dense_2 (Dense)             (None, 11)                110

 dense_3 (Dense)             (None, 1)                 12

=================================================================
Total params: 308
Trainable params: 308
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5576 - accuracy: 0.7341 - 321ms/epoch - 1ms/step
Loss: 0.5575608611106873, Accuracy: 0.7341107726097107

In [42]:
# Export our model to HDF5 file
best-model.save('/content/AlphabetSoupCharity_Optimized.h5')